html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  /*mobile size grid*/
  display: grid;
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "header"
  "main";
}

header {
  grid-template-columns: 1fr;
  grid-area: header;
  grid-row: 1;
}

h1 {
  font-style: italic;
  font-size: 1.8rem;
  margin-left: 1.5rem;
}

figure {
  margin: 0;
}

h2 {
  font-style: italic;
  font-size: 1.5rem;
  margin-left: 1em;
  margin-bottom: 0;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .75rem;
  align-self: center;
  padding-right: 0;
  grid-row: 2;
}

div {
  overflow: hidden;

}

dl {
  margin-left: 1.5em;
  margin-top: 0;
}

dt {
  font-style: italic;
}

p {
  margin: 0;
}

p:first-of-type {
  font-size: 1.5rem;
  font-style: italic;
}

p:last-child {
  margin-bottom: 1em;
}

@media screen and (min-width: 40em) {

  body {
      grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "header"
    "main main main";
  }

}

@media screen and (min-width: 60em) {

  body {
    max-width: 90em;
    margin: 0 auto;
  }

}
